@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Varela+Round&display=swap');

/* * {
            padding: 0%;
            margin: 0%;
            /* box-sizing: border-box; */


}
*/ .container {
    font-family: 'Varela Round', sans-serif;
}
.logo {
    width: 10%;
    margin-left: 20px;
    margin-top: 35px;
}
.sub-container {
    background-color: brown;
    background: linear-gradient(-45deg, transparent 50px, brown 0);
    width: 99%;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.text {
    width: 50%;
    text-align: center;
    justify-content: center;
    /* padding: 70px 30px; */
    
    margin-top: 100px;
}
.text-inner {
    width: 50%;
    padding: 65px 100px;
    margin-top: 100px;
    text-align: left;
}
h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
    line-height: 54px;
}
.text-left-h1 {
    width: 100%;
}
p {
    font-size: 16px;
}
h2 {
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.form {
    width: 50%;
    padding: 25px 100px;
    padding-top: 100px;
    color: white;
}
h3 {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
#name {
    color: white;
    background-color: transparent;
    border-color: white;
    margin-bottom: 10px;
}
.name {
    width: 98%;
    height: 36px;
    border: 2px solid white;
}
#name::placeholder {
    color: white;
    padding-left: 5px;
    opacity: 0.7;
}
.discription {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    margin: 10px 0px;
}
#bottum-name::placeholder {
    color: white;
    padding-left: 5px;
    opacity: 0.7;
}
.btn {
    padding: 3px 19px;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 70px;
}
@media screen and (max-width: 1150px) {
    .btn {
        padding: 3px 19px;
        font-size: 22px;
    }
}
@media screen and (max-width: 1024px) {
    .sub-container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .text {
        width: 100%;
    }
    
    .text-inner {
        padding-top: 10px;
        margin: 0px auto;
    }
    
    .form {
        padding-top: 10px;
        margin: 0px auto;
    }
    
    .btn {
        padding: 5px 50px;
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .text {
        width: 100%;
    }
    
    h1 {
        font-size: 44px;
    }
    
    .btn {
        padding: 0px 0px;
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .btn {
        font-size: 15px;
    }
    
    input,
    input::placeholder {
        font: 10px/3 sans-serif;
    }
}
@media screen and (max-width:400px) {
    .container {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    
    .text {
        width: 100%;
    }
    
    .text-inner {
        padding-right: 0px;
    }
    
    .form {
        padding-right: 0px;
    }
    
    .lable {
        font-size: 11px;
    }
    
    input,
    input::placeholder {
        font: 7px/3 sans-serif;
    }
    
    h1 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 17px;
    }
    
    .btn {
        font-size: 11px;
    }
}
@media screen and (max-width:280px) {
    .container {
        margin-left: 0px;
    }
    
    .text {
        width: 100%;
        padding: 0%;
    }
    
    .text-inner {
        padding-top: 10px;
        margin-top: 10px;
        padding-left: 49px;
    }
    
    .form {
        padding-top: 10px;
        margin-left: 0px;
        padding-left: 48px;
    }
    
    h1 {
        font-size: 18px;
    }
    
    p {
        font-size: 9px;
    }
    
    h2 {
        font-size: 10px;
    }
    
    input,
    input::placeholder {
        font: 7px/3 sans-serif;
    }
    
    .lable {
        font-size: 10px;
    }
    
    .btn {
        padding: 5px 7px;
        font-size: 8px;
        font-weight: bold;
    }
}